/* .cls-1 {
  fill:#c3beb1;
}

.cls-2 {
  fill:#fff;
}

.cls-3,
.cls-4 {
  fill:#231f20;
}

.cls-4 {
  stroke:#fff;
  stroke-miterlimit:10;
  stroke-width:0.25px;
} */

rect:hover {
  fill: #DFE4E7!important;
}

.missile-image,
.missile-text {
  pointer-events: none;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  max-width: 160px;					
  /* height: 28px;					 */
  padding: 2px;				
  font: 12px sans-serif;		
  background: #07344A;
  color: #F0F3F5;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

.missile-text {
  font-family: Source Sans Pro;
  font-size: 22.1px;
  fill: #F0F3F5;
  font-weight: 400;
}

.missile-name {
  font-family: Open Sans;
  font-size: 18px;
  fill: #F0F3F5;
  font-weight: 300;
}

.btn--close {
  display: none;
}