rect:hover {
  fill: #DFE4E7!important;
}

.missile-image,
.missile-text {
  pointer-events: none;
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  max-width: 160px;					
  /* height: 28px;					 */
  padding: 2px;				
  font: 12px sans-serif;		
  background: #07344A;
  color: #F0F3F5;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}

.missile-text {
  font-family: Source Sans Pro;
  font-size: 20px;
  fill: black;
  /* fill: #F0F3F5; */
  font-weight: 400;
}

.missile-name {
  font-family: Open Sans;
  font-size: 15px;
  /* fill: #F0F3F5; */
  fill: black;
  font-weight: 300;
}

.tooltip-close {
  color: white;
  position: absolute;
  top: 0.25rem;
  right: 0;
  z-index: 25;
  display: block;
  width: 20px;
  height: 20px;
  text-align: right;
  pointer-events: all;
  background-color: transparent;
  border: none;
}

@media only screen and (min-width:600px) {
  .tooltip-close {
    display: none;
  }
}

.tooltip__more-info {
  color: #F0F3F5;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.legend__wrapper {
  display: flex;
}

.legend {
  padding: 0;
  list-style: none;
  display: flex;
  width: fit-content;
  margin: 0 auto;
}

.legend__item__colors,
.legend__item__lines {
  position: relative;
  margin-right: 2rem;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 300;
  margin-top: 8px;
}

.legend li::before {
  content: '';
  position: relative;
  display: inline-block;
  width: 0.9rem;
  margin-right: 0.5rem;
}

.legend__item__colors::before {
  top: 1px;
  border-radius: 50%;
  height: 0.9rem;
}

.legend__item--SRBM::before {
  background: #5F7981;
}

.legend__item--MRBM::before {
background: #F2C261;
}

.legend__item--IRBM::before {
background: #07344A;
}

.legend__item--ICBM::before {
background: #4A2C07;
}

.legend__item--SLV::before {
background: #076796;
}

.legend__item__lines::before {
  color: #07344A;
  height: 0.3rem;
}

.legend__item--acquired::before {
  border-top: 1px solid #07344A;
}

.legend__item--developed::before {
  border-top: 3px solid #07344A;
}

.legend__item--inherited::before {
  border-top: 1px dashed #07344A;
}

.legend__item--renamed::before {
  border-top: 3px dashed #07344A;
}